<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/minimalism/src/uk/co/samatkins/Base64.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.co.samatkins.Base64"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;9x9:000000000000002220000002020000222220000202000022222000020200000012200000000000000&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="minimalism"/>
</launchConfiguration>
