<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/minimalism/src/uk/co/samatkins/Base64.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.co.samatkins.Base64"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;10x10:0000000000002222000000200200000021222200002000020000200002000022221200000020020000002222000000000000&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="minimalism"/>
</launchConfiguration>
